// BASIC STRUCTURE

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

//COLOR PALET
$color-one: #071013;
$color-two: #0B3954;
$color-three: #F2F4F3;
$color-four: #E5E5E5;
$color-five: 1;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  h1, h2, h3, h4, h5, p, a {margin: 0}

  main {
    display: flex;

    .page-structure { // basic page structure
      min-height: 100vh;
      flex-grow: 1;
      display: flex;
    }
 }
}

// basic page structure
.page-structure {
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
}
