// BASIC STRUCTURE

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

//COLOR PALET
//1
// $color-one: #ED6A5A;
// $color-two: #E6EBE0;
// $color-three: #5CA4A9;
// $color-four: #E6EBE0;
// $color-five: 1;
//2
$color-one: #2B2D42;
$color-two: #929CAA;
$color-three: #EDF2F4;
$color-four: #929CAA;
$color-five: 1;


$color-white: #F7F7F7;
$color-black: #00171F;
$color-gold: #ffd700;
$color-red: #ff0000;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  overscroll-behavior: none;
  h1, h2, h3, h4, h5, p, a {margin: 0}

  main {
    display: flex;

    .page-structure { // basic page structure
      min-height: 100vh;
      flex-grow: 1;
      display: flex;
    }
 }
}

// basic page structure
.page-structure {
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.hidden {
  visibility: hidden;
}

