// BASIC STRUCTURE

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  h1, h2, h3, h4, h5, p, a {margin: 0}
}

main {
   display: flex; 
}

// basic page structure
.page-structure {
  max-width: 85%;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
}