// NAVIGATION SIDEBAR AND NAV MENU
@mixin column-flex {
  display: flex;
  flex-direction: column;
}

@mixin column-center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// navigation sidebar
.nav-wrapper {
  position: fixed;
}

.nav-sidebar {
  width: 200px;
  // background-color: rgb(39, 39, 39);
  // tom: trying coolers palete
  background: $color-one;
  // background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px black solid;
}


// burger menu
.burger-menu {
  margin: 20px 0;
  div:nth-of-type(1) {
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
  div:nth-of-type(2) {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
  div:nth-of-type(3) {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
}


// navigation menu
nav {
  @include column-flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;

  div.profile-wrapper {
    display: flex;
    justify-content: center;
  }
  div.profile {
    height: 60px;
    width: 60px;
    img {
      width: auto;
      height: 100%;
      border-radius: 100%;
    }
  }
  > div {
    @include column-flex;
  }
  a {
    text-decoration: none;
    margin-bottom: 15px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // i{ margin-right: 20px;}
    &:focus{
      border-left: 2px gold solid;
    }
  }

  i{
    font-size: 30px;
    color: white;
    text-align: center;
  }
  p {
    font-size: 25px;
    font-family: monospace;
    color: white;
    text-decoration: none;
    span:first-of-type{
      color: rgb(108, 165, 255);
      // margin-right: 1px;
    }
    span:last-of-type{
      color: rgb(255, 213, 76);
    }
  }
  .logo {
    @include column-center-flex();
    margin-top: 30px;
    margin-bottom: 50px;
    i {font-size: 70px;}
  }
  .auth-button {
    color: white;
    width: 100px;
    display: flex;
    justify-content: center;
  }
}