// NAVIGATION SIDEBAR AND NAV MENU


// navigation sidebar
.nav-sidebar {
  width: 15%;
  height: 100%;
  background-color: rgb(228, 124, 6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// burger menu
.burger-menu {
  margin: 20px 0;
  div:nth-of-type(1) {
    width: 45px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
  div:nth-of-type(2) {
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
  div:nth-of-type(3) {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px 0;
  }
}


// navigation menu
nav {
  display: flex;
  flex-direction: column;

  a{
    font-size: 23px;
    color: white;
    text-decoration: none;
  }
}