// HOME PAGE


.home-page { // the home page wrapper
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 20px;

  p {
    margin-bottom: 20px;
  }
}

.tech-lang-wrapper { // tech language wrapper for all the boxes
  width: 90%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

  div { // the boxes for each tech language
    width: 150px;
    height: 150px;
    border: black solid 1px;
    margin: 5px;
    background-size: cover;
    background-position: center;

    // each tech language box
    &:nth-of-type(1){
      background-image: url('https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg');
    }
    &:nth-of-type(2){
      background-image: url('https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg');
    }
    &:nth-of-type(3){
            background-image: url('https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg');
    }
    &:nth-of-type(4){
            background-image: url('https://images.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg');
    }
    &:nth-of-type(5){
            background-image: url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg');
    }
    &:nth-of-type(6){
            background-image: url('https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg');
    }
    &:nth-of-type(7){
            background-image: url('https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg');
    }
    &:nth-of-type(8){
            background-image: url('https://images.pexels.com/photos/4316/technology-computer-chips-gigabyte.jpg');
    }

    filter: grayscale(50%);
    box-shadow: 0px 0px 5px 1px #000000;
  }


}
