@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


.index-page {
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background: $color-white;

  // font-family: 'Varela Round', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Titillium Web', sans-serif;

  .flex-foreground {
    width: 100%;
    height: 100%;
    // background: rgba(3, 111, 8, 0.1);
    display: flex;
    justify-content: center;

    .filter-list-wrapper {
      display: flex;
      // flex-direction: column;
      // color: #F2F4F3;
      // background: #071013;
      // background: rgba(0, 23, 31, 0.7);
      background: $color-white;
      // background: rgba(0, 23, 31, 1);
      // background: rgba(0, 125, 167, 0.7);
      // border-bottom: 2px $color-two solid;
      height: 100px;
      // width: 95%;
      width: 100vw;
      // margin: 10px 0 0px 0 ;
      margin: 0;
      border-bottom: 1px solid #bbb;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 2px;
      // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.9);
      pointer-events: auto;
  
      .category-select {
        // width: 1000px;
        width: 620px;
  
        // .css-yk16xz-control {
        //   height: 36px;
        //   display: flex;
        //   justify-content: flex-start;
        //   align-items: center;
  
        //   .css-1hwfws3 {
        //     height: 36px;
        //   }
        // }
      }
      .date-select {
        // width: 250px;
        width: 180px;
        
        
        // .css-1hwfws3 {
        //   height: 36px;
        // }
      }
  }

    .checkbox-input {
      // font-family: 'Titillium Web', sans-serif;
      height: 36px;
      width: 150px;
      // border-radius: 5px;
      background: white;
      color: grey;
      cursor: pointer;
      // border: 0;
      // font-size: 14px;
      box-shadow: 0px 0px 10px 0px $color-one;
      margin: 0;
      padding: 0;
    }
    
    .on {
      background: #069E2D;
      color: $color-white;
    }

  }
  
  .list-map-wrapper {
    // background: yellow;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
    .map-events-title {
      background: $color-black;
      color: $color-white;
      width: 350px;
      border-left: 1px #bbb solid;

      h4 {
        margin-left: 10px;
        width: 250px;
      }
    }

    
    .event-list {
      // background: rgba(30, 175, 219, 0.548);
      // background: rgba(0, 23, 31, 0.7);
      background: $color-white;
      border: 1px solid #bbb;
      // background: rgba(0, 125, 167, 0.7);
      pointer-events: auto;
      width: 350px;
      height: 400px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // margin: 20px 0 0 32px;
      // border: 1px black solid;
      
      .map-events-title {
        background: $color-black;
        color: $color-white;
        width: 350px;
        height: 50px;
      }
      
      .event-wrapper {
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.9);
        // border: 1px black solid;
        width: 290px;
        height: 90px;
        // margin: 5px;
        margin: 10px;
        background: $color-white;
        border-radius: 2px;
  
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;

        .event-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 10px;
          // background: $color-white;
          border-radius: 2px;
          width: 300px;
          height: 60px;
          border-right: 1px solid #bbb;
          .event-name-text {
            // border: 1px dashed gold;
            margin: 5px;
            font-size: 100%;
            height: 20px;

            display: flex;
            align-items: center;
          }
          
          .event-description {
            // border: 1px dashed green;
            margin: 5px;
            display: flex;
            justify-content: flex-end;
            font-size: 80%;

            p {
              margin-right: 20px;
            }
          }
        }
  
        .event-thumbnail-image {
          // border: 1px $color-one solid;
          width: 100px;
          height: 50px;
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 100%;
            width: auto;
          }
          
          .fa-js-square {
            // color: $color-two;
            // color: $color-white;
            color: #007EA7;
            font-size: 40px;
          }
        }
      }
      // .event-wrapper:last-of-type {
      //   margin-bottom: 0;
      // }
    }

  }
  .map-wrapper {
    background: $color-one;
    // height: 600px;
    // width: 700px;
    height: 100%;
    width: 100%;
    // margin-left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // z-index: -1;

    
    .map-element {
      margin-left: 5px;
    }
  }
}
.index-foreground {
  position: absolute;
  height: 100%;
  width: 88%;
  // border: 3px green dashed;
  pointer-events: none;
  display: flex;

  .flex-foreground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .foreground-top {
      width: 100%;
      height: 99px;
      // border: green 3px dashed;
      // background:green;
      
      display: flex;
      justify-content: center;
    }
    .foreground-bottom {
      width: 100%;
      height: 100%;
      // border: green 3px dashed;
    }

  }
  
}

.event-linktag {
  text-decoration: none;
}



.marker-link {
  text-decoration: none;
  
  .marker {
    height: 20px;
    width: 20px;
    
  }
  
  img {
    // border-radius: 100%;
    height: 100%;
    width: auto;
  }
}
