@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');


.index-page {
  display: flex;
  // justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background: $color-white;

  // font-family: 'Varela Round', sans-serif;
  // font-family: 'Lato', sans-serif;
  // font-family: 'Titillium Web', sans-serif;

  .filter-list-wrapper {
    display: flex;
    // flex-direction: column;
    // color: #F2F4F3;
    // background: #071013;
    background: $color-two;
    // border-bottom: 2px $color-two solid;
    height: 100px;
    width: 95%;
    margin: 10px 0 10px 0 ;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.9);

    .category-select {
      // width: 1000px;
      width: 620px;

      // .css-yk16xz-control {
      //   height: 36px;
      //   display: flex;
      //   justify-content: flex-start;
      //   align-items: center;

      //   .css-1hwfws3 {
      //     height: 36px;
      //   }
      // }
    }
    .date-select {
      // width: 250px;
      width: 180px;
      
      
      // .css-1hwfws3 {
      //   height: 36px;
      // }
    }

    .checkbox-input {
      // font-family: 'Titillium Web', sans-serif;
      height: 36px;
      width: 150px;
      // border-radius: 5px;
      background: white;
      color: grey;
      cursor: pointer;
      // border: 0;
      // font-size: 14px;
      box-shadow: 0px 0px 10px 0px $color-one;
      margin: 0;
      padding: 0;
    }
    
    .on {
      background: #069E2D;
      color: $color-white;
    }

  }
  
  .list-map-wrapper {
    // background: yellow;
    flex-grow: 1;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    .event-list {
      // background: grey;
      width: 440px;
      height: 620px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // border: 1px black solid;

      h4 {
        width: 250px;
      }
      
      .event-wrapper {
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.9);
        // border: 1px black solid;
        width: 400px;
        height: 110px;
        // margin: 5px;
        margin: 10px;
        background: $color-four;
        border-radius: 2px;
  
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;

        .event-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 10px;
          background: $color-white;
          border-radius: 2px;
          width: 300px;
          height: 90px;
          .event-name-text {
            // border: 1px dashed gold;
            margin: 5px;
            font-size: 110%;
          }
          
          .event-description {
            // border: 1px dashed green;
            margin: 5px;
            display: flex;
            font-size: 12px;

            p {
              margin-right: 20px;
            }
          }
        }
  
        .event-thumbnail-image {
          // border: 1px $color-one solid;
          width: 50px;
          height: 50px;
          margin-right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          
          .fa-js-square {
            // color: $color-two;
            // color: $color-white;
            color: black;
            font-size: 50px;
          }
        }
      }
      // .event-wrapper:last-of-type {
      //   margin-bottom: 0;
      // }
    }

    .map-wrapper {
      background: $color-one;
      height: 600px;
      width: 700px;
      margin-left: 60px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .map-element {
        margin-left: 5px;
      }
    }
  }
}

.event-linktag {
  text-decoration: none;
}



.marker-link {
  text-decoration: none;
}
