// Login Page
.login-page {
  background-image: url('../assets/blueLaser-light.jpg');
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   h1 {
    margin: 2vw;
    text-align: center;
  }
  p {
    margin: 1vw 1vw 0 1vw ;
  }
  form {
    background-color: Rgba(75,75,75,0.65);
    width: 52vw;
    max-height: 95vh;
    border-radius: 2vw;
    
  }

    .field {
      // background-color: blue;
      width: 50vw;
      height: 2vw;
      display: flex;
      margin: 1vw;
      border-radius: 4vw;
    
    }

      .label {
        background-color: rgba(0, 0, 0, 0.658);
        width: 20vw;
        height: 2vw;
        text-align: right;
        padding: 0 1vw;
        border-radius: 4vw 0 0 4vw;
      }

        .control {
          // background-color: crimson;
          width: 30vw;
          height: 2vw;
          border-radius: 0 4vw 4vw 0;
        }
      
        input {
          background-color: rgb(43,45,66);
          width: 30vw;
          height: 2vw;
          border-radius: 0 4vw 4vw 0;
          border-style: none;
          align-items: center;
          padding: 0 1vw;
        }

    button {
      width: 50vw;
      margin: 1vw 1vw;
      height: 4vw;
      border-radius: 4vw;
      border-color: darkgray;
      border-width: 3px;
      background-color:rgb(40, 40, 40);
    }
    // button:hover {
    //   background: $color-black;
    //   color: $color-white;
    // }


}

.auth-page-login {
  background-image: url('https://images.unsplash.com/photo-1544531586-fde5298cdd40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  // background-image: url('https://images.unsplash.com/photo-1464047736614-af63643285bf?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80');
  // background-image: url('https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80'), linear-gradient(black, black);
  background-size: cover;
  background-repeat: no-repeat;

  // filter: url('https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  // filter: grayscale(100%);

  // border: 2px green dashed;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  .form-box-login {
    background: rgba(247, 247, 247, 0.9);
    border: 1px #bbb solid;
    border-radius: 2px;
    width: 600px;
    height: 220px;

    .form-title-wrapper {
      width: 100%;
      height: 80px;
      // background: red;

      display: flex;
      justify-content: center;

      h1 {
        margin: 0 0 20px 0;
      }
    }


    .form-input-wrapper {
      width: 100%;
      height: 20px;
      // background: red;
      display: flex;
      justify-content: space-between;
      margin: 0 0 15px 0;

      label {
        // margin: 0 20px 0 20px;
        margin: 0 0 0 40px;
      }

      .form-input {
        height: 25px;
        width: 400px;
        margin: 0 30px 0 0;
      }
    }

  }

  .form-button-wrapper {
    margin: 25px 0 0 0;
  }
}

