// Login Page
.login-page {
  background-color: linear-gradient(to right, rgb(40, 41, 41), black);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
   h1 {
    margin: 2vw;
    text-align: center;
  }
  p {
    margin: 1vw 1vw 0 1vw ;
  }
  form {
    background-color: Rgba(75,75,75,0.5);
    width: 52vw;
    max-height: 95vh;
    height: auto;
  }

    .field {
      background-color: blue;
      width: 50vw;
      height: 4vw;
      display: flex;
      margin: 1vw;
    
    }

      .label {
        background-color: blueviolet;
        width: 20vw;
        height: 4vw;
        text-align: right;
        padding: 1vw;
      }

        .control {
          background-color: crimson;
          width: 30vw;
        }
      
        input {
          width: 30vw;
          height: 4vw;
        }

    button {
      width: 50vw;
      margin: 1vw 1vw;
      height: 4vw;
    }


}

