.profile-page { //profile page setup
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: firebrick;
}

.mini-nav-wrapper { // the top section for profile nav
background-color: gold;
display: flex;
width: 100%;
flex-grow: 1;
align-items: center;

  .mini-nav { // the profile nav
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: 30px;
  }
}

.dashboard-wrapper { // the wrapper for the whole dashboard section
  background-color: lightblue;
  width: 100%;
  flex-grow: 8;
  padding: 20px 30px;

  .dashboard-content { // where the boxes/content will go
    display: flex;
    // height: 500px; - when i add this, it breaks the flex-grow i added to the profile nav and the dashboard wrapper
  }
}

.events-attending-wrapper { // individual section for events attending
  background-color: lightpink;
  flex-grow: 2;
}

.your-info-wrapper { // individual section for user's info
  background-color: lightgreen;
  flex-grow: 1;
}

