// // Register Page
// .register-page {
//   background-image: url('../assets/blueLasers-dark.jpg');
//   width: 100%;
//   height:100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: white;
  
//   h1 {
//     margin: 2vw;
//     text-align: center;
//   }
//   h5 {
//     text-align: center;
//   }
  
//   p {
//     margin: 1vw 1vw 0 1vw ;
//   }
//   // p.indent {
//   //   margin: 8vw;
//   // }
//   form {
//     // background-image: linear-gradient(to right, rgba(40, 41, 41, 0.75), rgba(30, 30, 30, 0.5));
//     background-image: linear-gradient(to right, rgba(153, 153, 153, 0.25), rgba(255, 255, 255, 0.10));
//     width: 52vw;
//     max-height: 95vh;
//     border-radius: 2vw;
//     margin: 0;
//   }
  
//   .field {
//     // background-color: blue;
//     width: 40vw;
//     height: 40px;
//     display: flex;
//     margin: 0 11% 2%;
//     border-radius: 4vw;
  
//   }
  
//   .label {
//     background-color: rgba(0, 0, 0, 0.658);
//     width: 15vw;
//     height: 40px;
//     text-align: right;
//     padding: 7px 1vw;
//     border-radius: 4vw 0 0 4vw;
//     color: darkgray;
    
    
//   }
  
//   .control {
//     // background-color: crimson;
//     width: 25vw;
//     height: 40px;
//     border-radius: 0 4vw 4vw 0;
//   }
  
//   input {
//     width: 25vw;
//     height: 40px;
//     border-radius: 0 4vw 4vw 0;
//     align-items: center;
//     background-color: rgb(43,45,66);
//     border-style: none;
//     // display: none; //removes radio buttons
//   }

.register-page {

  background-image: url('https://images.unsplash.com/photo-1470753937643-efeb931202a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  // background-image: url('https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80'), linear-gradient(black, black);
  background-size: cover;
  background-repeat: no-repeat;

  // filter: url('https://images.unsplash.com/photo-1531058020387-3be344556be6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  // filter: grayscale(100%);

  // border: 2px green dashed;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .form-box-register {
    background: rgba(247, 247, 247, 0.9);
    border: 1px #bbb solid;
    border-radius: 2px;
    width: 700px;
    height: 550px;

    .form-title-wrapper {
      width: 100%;
      height: 80px;
      // background: red;

      display: flex;
      justify-content: center;

      h1 {
        margin: 0 0 20px 0;
      }
    }

    .form-input-wrapper {
      width: 100%;
      height: 20px;
      // background: red;
      display: flex;
      justify-content: space-between;
      margin: 0 0 15px 0;

      label {
        // margin: 0 20px 0 20px;
        margin: 0 0 0 40px;
      }

      .form-input {
        height: 25px;
        width: 400px;
        margin: 0 30px 0 0;
      }
    }
  }
  

  input[type="radio"]{ display: none;}

  .category-container {
    // background-color: darkmagenta;
    width: 500px;
    max-height:2500px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .row1 {
    // background-color: deepskyblue;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    height: 110px;
    
  }

  .row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vw;
    margin: 0%;
  }
  
  .row3 {
    // background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 11%;
  }

  .row4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2vw;
    margin: 0 11%;
  }
  
  .category-box {
    // background-color: skyblue;
    background-size: 7vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin: 10px;
    color: white;
    // position: absolute;
    border-radius: 2vw;
  }

  .category-name {
    // background-color: coral;
    display: flex;
    flex-direction: column;
    width: 7vw;
    height: 2vw;
    // padding: .25vw;
    color: white;
    text-align: center;
    margin: 0 0 0.5vw;
  }

  .box {
  position: absolute;
  border-radius: 2vw;
  cursor: pointer;
  
  //SCALES THE IMAGE SIZE
  img {
    border-radius: 4px;
    height: 80px;
    width: auto;
  }
}

  .box-initial-image {
    display: block;
    width: 7vw;
    height: auto;
    border-radius: 2vw;
  }

  .box-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease;
    border-radius: 2vw;
  }

  .box:hover .box-overlay {
    opacity: 1;
  }

  .box-after-image {
    position: absolute;
    width: 7vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 2vw;
    &.selected{ //these have more priority
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      border: rgb(233, 233, 233) 2px solid;
    }
  }

  .box-after-image.selected {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    border: darkorange 4px solid;

  }

  .category-container-wrapper {
    width: 100%;
    height: 200px;
    // background: red;

  }
  .form-button-wrapper {
    margin: 40px 0 0 0;
  }
  .category-box {
    width: 100%;
  }
  .form-button-wrapper {
    width: 100%;

    button {
      width: 600px;
    }
    // button:hover {
    //   background: $color-black;
    //   color: $color-white;
    // }
  }
}
.form-button-wrapper {
  display: flex;
  justify-content: center;
  
  button {
    width: 500px;
  }
}

  // button {
  //     width: $vw;
  //     margin: 1vw 11%;
  //     height: 4vw;
  //     border-radius: 4vw;
  //     border-color: darkgray;
  //     border-width: 3px;
  //     background-color:rgb(40, 40, 40);
  //     color: darkgray;
  //   }




    
 
// }


