$primaryColour: rgb(255, 213, 76);
$borderGrey: rgb(122, 122, 122);
$backgroundGrey: rgb(41, 41, 41);
$colorText: white;
// $primaryColour: rgb(0, 0, 0);
// $borderGrey: rgb(0, 0, 0);
// $backgroundGrey: rgb(255, 255, 255);
// $colorText: rgb(0, 0, 0);

.show-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $backgroundGrey;
  color: $colorText;
}

.show-page {
  margin: 0 100px;
  padding-top: 100px;
  height: 100%;
  // width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 7fr;
  grid-gap: 50px;

  h3 { 
    font-size: 20px;
    margin-bottom: 10px;
    color: $primaryColour;
  }

  section.main {
    display: flex;
    flex-direction: column;
    > div.description {
      margin-bottom: 40px;
    }
  }

  .date-time {
    border: 2px solid $borderGrey;
    border-radius: 10px;
    padding: 20px;
    justify-self: start;
    align-self: start;
    .date {
      font-size: 30px;
      padding-bottom: 5px;
    }
    .time {
      text-align: center;
    }
    
  }

  .attend-price{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    .price {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .attend {
      display: flex;
      align-items: center;

      input {
        display: none;
      }

      label {
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        width: 110px;
        padding: 10px;
        background-color: #da0202;
        color: $colorText;
        border-radius: 10px;
        // transition: 0.3s;
        

        &:hover{
          color: white;
        }
        
        div {
          background-color:$borderGrey;
          
          height: 10px;
          width: 10px;
          margin-right: 10px;
        }
      }
      input:checked + label {
        background-color: $backgroundGrey;
        width: 150px;
        color: $borderGrey;
        box-shadow: 0 0 5px 2px rgb(143, 143, 143);
        font-weight: bold;
        div{
          background-color: $primaryColour;
          box-shadow: 0 0 4px 1px $primaryColour;
        }
      }
    }



  }

  .comments-section{
    > form {
      width: 100%;
      height: 30px;
      display: flex;
      margin-bottom: 10px;
      input {
        user-select: none;
        border-radius: 10px;
        flex: 4;
        margin-right: 10px;

        &:focus { outline: none;}
      }
      button {
        &:focus { outline: none;}
        flex: 1;
        border-radius: 10px;
      }
    }

    .comment {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .comment-profile {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        img{
          height: 100%;
          width: auto;
          border-radius: 100%;
          box-shadow: 0 0 2px 2px $borderGrey;
        }
      }
      .box {
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
        border: 2px solid $borderGrey;
        font-size: 10px;
        border-radius: 10px;

        .username {
          // font-weight: bolder;
          margin-bottom: 2px;
        }
        .timestamp {
          color: rgb(163, 163, 163);
        }
      }

      div.button-div {
        > button {
          cursor: pointer;
          background-color: $backgroundGrey;
          border: solid 1px $borderGrey;
          color: white;
          border-radius: 5px;
          padding: 3px 5px;
        };
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2px;
        :hover {
          color: rgb(255, 42, 42);
        }
      }

    }
  }

  div.host-profile {
    display: flex;
    align-items: center;
    > .profile {
      height: 80px;
      width: 80px;
      margin-right: 30px;
    }
  }

  img.profile {
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
    border-radius: 100%;
    height: 100%;
    width: auto;
  }

  .attendees-images {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 80px;
    grid-gap: 20px;
    justify-content: start;
  }

  div.location {
    > div {
      display: flex;
      border: $borderGrey solid 2px;
      > div {border-right: $borderGrey solid 4px;}
    }
    p {
      padding: 10px;
    }
    i {
      font-size: 20px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }




}


@media screen and (max-width: 600px) {
  .show-page {
    grid-template-columns: 1fr;
  }
}








// input.text {
//   border: 0;
//   width: 200px;
//   height: 200px;
//   background-color: dodgerblue;
//   &:disabled{
//     color: black;
//   }
//   &.enabled {
//     border: rgb(143, 143, 143) 1px solid;
//     &:hover{
//       border: black 1px solid;
//     }
//     &:focus {
//       background-color: rgb(107, 181, 255);
//     }
//   }
// }