// PROFILE - DASHBOARD PAGE

.dashboard-wrapper { // the wrapper for the whole dashboard section
  background-color: lightblue;
  width: 100%;
  padding: 40px 30px;
  height: 100%;

  .dashboard-content { // where the boxes/content will go
    width: 100%;
    display: flex;
    justify-content: center;
    
    h2 {
      margin: 20px 0;
    }

    table {
      border-collapse: collapse;

        th, td {
          padding: 12px 15px;
          text-align: left;
        }

        td {
          border-bottom: 1px solid black;
        }

        th {
          border-bottom: 3px solid black;
        }
    }
  } 
}
