// PROFILE - DASHBOARD PAGE

.dashboard-wrapper { // the wrapper for the whole dashboard section
  background-color: lightblue;
  width: 100%;
  padding: 20px 30px;
  height: 100%;

  .dashboard-content { // where the boxes/content will go
    display: flex;
  }
}

.events-attending-wrapper { // individual section for events attending
  background-color: lightpink;
  flex-grow: 1;
  margin-right: 20px;
  padding: 5px 10px;

  .event-wrapper {
    display: flex;
    margin-bottom: 10px;
    border: 3px solid black;

    .event-icon {
      background-color: dodgerblue;
      width: 80px;
      height: 80px;
    }
    .event-summary {
      background-color: honeydew;
      width: 100%;
    }
  }
  
}


.your-info-wrapper { // individual section for user's info
  background-color: lightgreen;
  flex-grow: 1.5;
}

