// PROFILE PAGE


.profile-page { //profile page setup
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $color-white;
}

.dashboard-wrapper { // the wrapper for the whole dashboard section
  // background-color: lightblue;
  width: 100%;
  padding: 40px 30px;
  height: 100%;

  .dashboard-content { // where the boxes/content will go
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    h2 {
      margin: 20px 0;
    }

    h4 {
      background-color: $color-one;
      font-size: 23px;
      color: $color-white;
    }

    table {
      border-collapse: collapse;

        th, td {
          text-align: left;
          text-align: center;
        }

        td {
          border-bottom: 1px solid $color-black;
        }

        th {
          // padding-bottom: 20px;
          border-bottom: 3px solid $color-black;
          text-transform: uppercase;
          font-size: 18px;
        }

        th:nth-of-type(2) {
          width: 300px;
        }

        a {
          color: $color-one;
          font-weight: bold;
          text-decoration: none;
        }
    }

    .your-hosted-events {
      .hosted-title {
        width: 65%;
      }

      table {
        width: 65%;


        div {
          width: 55%;
          margin-left: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;        
          a {
            padding: 0 8px;
            border: solid 1px $borderGrey;
            border-radius: 5px;
            }
  
          button {
            cursor: pointer;
            display: flex;
            background-color: $color-white;
            border: solid 1px $borderGrey;
            color: $color-red;
            border-radius: 5px;
            padding: 3px 5px;
            margin: 0;
            height: 100%;
          }
        }
      }

      
    }
    
  } 
}
