// TOP PROFILE BAR

.profile-bar-wrapper { // the top section for profile bar
  background-color: gold;
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  
    .profile-bar { // the profile bar
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;
    }

    .profile-bar-image { // the user's profile image in the profile bar
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

  }